/* Corps */

body
  {
      height: 40%;
      font-size: 18px;
      font-family: 'Bai Jamjuree', sans-serif;
      margin: 0;
      padding: 0;
      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(243,246,247,1) 0%, rgba(224,232,237,1) 21%, rgba(9,64,121,1) 88%); 
      background-image: url(noir.jpg);
      color: white;
  }

  section, p
  {
      display: flex;
      margin-bottom: 20px;
      color: white;
  }

  .carousel-item
  {
    justify-items: center;  
  }

  h1
  {
      text-align: center;
  }

  .card-text
  {
    color: black;
  }

/* Naviagtion */

nav
{
  background-image: url(noir.jpg);
}

nav a
  {
      font-size: 18px;
      padding-bottom: 3px;
      text-decoration: none;
  }
  

  @media screen and (max-widht: 375px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}